/* Banner Section Styles */
#banner {
    background-image: url('images/Banner\ Image.png');
    background-size: cover;
    width: 1320px;
    height: 600px;
    background-position: center;
    margin: 10px 100px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Banner Content Styles */
.banner-content {
    text-align: center;
    color: white;
}

.banner-content h1 {
    font-size: 38px;
    margin-bottom: 20px;
}

.banner-content h2 {
    font-size: 100px; 
    margin-top:0;
    line-height: 1;
}

/* Offer Section Styles */
#offer {
    width: 802px;
    height: 806px;
    margin: 0 auto;
    text-align: center;
}

/* Offer Content Styles */
.offer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.offer-content h6,
.offer-content h7,
.offer-content h5 {
    margin: 0;
}

.offer-content h6 {
    color: red;
    font-size: 64px; 
}

.offer-content h7 {
    color: red;
    font-size: 28px; 
}

.offer-content h5 {
    color: black;
    font-size: 36px;
    margin-top: 10px;
}

.offer-content img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
}


/* Party Section Styles */
#party {
    background-image: url('images/Vectorrr.png');
    background-size: cover;
    width: 1320px;
    height: 400px;
    background-position: center;
    margin: 10px 100px;
    border-radius: 16px;
}

/* Party Content Styles */
.party-content {
    color: white;
    padding: 80px;
}

.party-content h1 {
    font-size: 48px; 
    margin-bottom: 10px;
}

.party-content p {
    font-size: 18px; 
    margin-bottom: 20px; 
}

.party-content .join-button {
    color: white;
    padding: 15px 30px;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
}

.party-content .join-button:hover {
    background-color: #45a049;
}

/* Portfolio Section Styles */
#portfolio {
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

/* Portfolio Content Styles */
.portfolio-content {
    color: #333; /* Ash color */
}

.portfolio-content h7 {
    font-size: 56px;
    margin: 0;
}

.portfolio-content h6 {
    font-size: 36px;
    margin: 0;
}

.portfolio-content p {
    font-size: 26px;
    margin: 20px 0;
}

/* Image Grid Styles */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.image-grid img {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.image-grid img:hover {
    transform: scale(1.1);
}

/* Subscribe Section Styles */
#subscribe {
    width: 1320px;
    height: 416px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    background-color: #ffe6e6;
}

/* Subscribe Content Styles */
.subscribe-content {
    color: #333;
}

.subscribe-content h6 {
    font-size: 36px;
    color: black;
    margin: 10px 0;
}

.subscribe-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Subscribe Form Styles */
.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.subscribe-form input[type="email"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.subscribe-form button {
    padding: 10px 20px;
    background-color: red; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.4s;
}

.subscribe-form button:hover {
    background-color: green;
}

/* Footer Section Styles */
footer {
    width: cover;
    height: 303px;
    margin-top: 20px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-content .left-side,
.footer-content .right-side {
    width: 50%;
}

.footer-content p {
    margin: 0;
}

hr {
    border: none;
    border-top: 1px solid white;
    margin: 20px auto;
    width: 80%;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons img {
    width: 40px; /* Adjust size as needed */
    height: auto;
    margin: 0 10px;
}


/* More Offers Section Styles */
#more-offers {
    width: 1320px;
    height: 463px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* More Offers Content Styles */
.more-offers-content {
    display: flex;
    width: 100%;
}

/* First Part Styles */
.first-part,
.second-part,
.third-part {
    width: calc(33.33% - 10px); /* 33.33% width for each part with 10px gap */
    padding: 0 5px;
}

.first-part h3,
.third-part h1 {
    margin-top: 0;
}

.first-part h1,
.third-part h1 {
    margin-bottom: 5px;
    font-size: 56px;
}

.first-part h3,
.third-part h1 {
    color: red;
}

.first-part h1,
.second-part img,
.third-part h1 {
    color: black;
}

.first-part p,
.third-part p {
    color: #999; /* Ash color */
}
